<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-sm-3 d-none d-sm-block">
      <%= render 'users/shared/side_menu', user: @user %>
    </div>
    <div class="col-12 col-sm-9">
      <div class="card shadow-sm">
        <%= render 'users/shared/header_menu', user: @user %>
        <div class="card-body">
          <% @reserves.each do |reserve| %>
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <h5 class="card-title"><%= @room.room_name %> / 問い合わせ ID:<%= reserve.id %></h5>
                  <p class="card-text">お問い合わせ内容: <span class="text-muted font-weight-bold"><%= reserve.contact.name %></p>
                    <p class="card-text">
                      契約について: <%= reserve.how_contract %>希望説明日: <%= reserve.contract %><br>
                      内見について: <%= reserve.how_preview %>希望内見日: <%= reserve.preview %><br>
                      希望入居日: <%= reserve.start_date %><br>
                      入居人数: <%= reserve.group %>人<br>
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="card-text">備考<br><%= reserve.notes %></p>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
