<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-sm-3 d-none d-sm-block">
      <%= render 'users/shared/side_menu', user: @user %>
    </div>
    <div class="col-12 col-sm-9">
      <div class="card shadow-sm">
        <%= render 'users/shared/header_menu', user: @user %>
        <div class="card-body">
          <% unless @hotel.rooms.blank? %>
          <h4 class="text-left">ホテルルーム
            <%= link_to 'ルーム登録', new_hotel_room_path(@hotel.id), {class: "btn btn-outline-primary"} %>
          </h4>
          <% else %>
          <h4>ホテルルームはありません
            <%= link_to 'ルーム登録', new_hotel_room_path(@hotel.id), {class: "btn btn-outline-primary"} %>
          </h4>
          <p class="text-muted">＊ホテルルームは、ユーザーに提供するルームを登録することで反映されます。<br>ホテルスタッフの方はボタンから登録してください。</p>
          <% end %>
          <% @rooms.each do |room| %>
          <div class="card shadow-sm mb-3">
            <div class="row no-gutters">
              <div class="col-lg-7">
                <%= link_to (image_tag room.room_img.thumb.to_s, {width: "100%", class: "img-fluid"}),hotel_room_path(hotel_id: room.hotel_id, id: room.id)  %>
              </div>
              <div class="col-lg-5 my-auto">
                <div class="overflow-auto" style="width:100%; height:200px;">
                  <div class="card-body p-5">
                    <div class="text-right">
                      <small class="text-muted">下へスクロール</small>
                    </div>
                    <h6 class="card-title"><%= link_to room.room_name, hotel_room_path(hotel_id: room.hotel_id, id: room.id)%></h6>
                    <p class="card-text">賃料: ￥<%= room.price %><br>
                      最大人数: ￥<%= room.group %>人<br>
                      <% if room.smoke == "1" %>
                      禁煙
                      <% else %>
                      喫煙可
                      <% end %>
                    </p>
                    <p class="card-text">
                      <small class="text-muted">
                        <%= room.introduction %>
                      </small>
                    </p>
                    <div class="text-right pr-2">
                      <small class="text-muted">Update: <%= room.updated_at.strftime('%Y/%m/%d') %></small>
                    </div>
                    <% if current_user.id == @user.id %>
                    <%= link_to "ルーム編集", edit_hotel_room_path(@hotel.id, room.id), class:"pr-1" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @rooms %>
</div>
