<div class="container">
  <div class="col-12 col-md-6">
    <table class="table table-borderless mt-4">
      <thead>
        <tr><h2>アカウント画面</h2>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row">email</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th scope="row">birthday</th>
          <% if @user.birthday == nil %>
            <td>未登録</td>
          <% else %>
            <td><%= @user.birthday %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-outline-primary"><%= link_to "edit", edit_user_registration_path %></button>
    <button type="button" class="btn btn-outline-primary"><%= link_to "logout", destroy_user_session_path, method: :delete %></button>
</div>
