<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <%= image_tag @hotel.hotel_img.to_s, {width: "100%",  height: "450", class: "img-fluid"} %>
        <div class="card-body p-5">
          <h5 class="card-title"><%= @hotel.hotel_name %></h5>
          <p class="card-text"><span class="text-muted">Address: 〒</span><%= @hotel.postcode.to_s.insert(3, "-") %></br><%= @hotel.prefecture_name %><%= @hotel.address_city %><%= @hotel.address_street %></p>
          <p class="card-text text-md-right pr-2"><span class="text-muted">Tell: </span><%= @hotel.tell %></p>
          <p class="card-text text-md-right pr-2"><span class="text-muted">Email: </span><%= @hotel.email %></p>
          <h5 class="card-title">Hotel introduction</h5>
          <p class="card-text col-12 col-md-8"><%= safe_join(@hotel.introduction.split("\n"),tag(:br)) %></p>
          <div class="text-right pr-2">
            <p><small class="text-muted">Update: <%= @hotel.updated_at.strftime('%Y/%m/%d') %></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= form_for @hotel do |f| %>
  <%= render 'layouts/shared/error_message', model: f.object %>
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= f.label :hotel_name, "ホテル名" %>
        <%= f.text_field :hotel_name, {class: "form-control"} %>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :tell, "電話番号" %>
        <%= f.text_field :tell, {class: "form-control"} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, {class: "form-control"} %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <%= f.label :postcode, "郵便番号" %>
        <%= f.number_field :postcode, {class: "form-control"} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.label :prefecture_code, "都道府県" %>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {prompt: "都道府県"}, {class: "form-control"} %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= f.label :address_city, "市区町村" %>
        <%= f.text_field :address_city, {class: "form-control"} %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :address_street, "番地以降" %>
        <%= f.text_field :address_street, {class: "form-control"} %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :address_building, "建造物名" %>
        <%= f.text_field :address_building, {class: "form-control"} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :introduction, "交通アクセス / ホテル紹介文" %>
        <%= f.text_area :introduction, {id: "input-string", class: "form-control", rows: "5"} %>
        <p id="counter-str"></p>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :hotel_img, "ホテル画像" %>
        <%= f.file_field :hotel_img, {class: "form-control-file"} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :facility, "施設、設備 / 周辺情報など" %>
        <%= f.text_area :facility, {id: "input-text", class: "form-control", rows: "10"} %>
        <p id="counter"></p>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :parking, "駐車場" %>
        <%= f.select :parking, {'有':'1', '無':'2'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :preview, "オンライン内見*1" %>
        <%= f.select :preview, {'オンライン内見可':'1', 'オンライン内見不可':'2'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :contract, "オンライン契約*2" %>
        <%= f.select :contract, {'オンライン契約可':'1', 'オンライン契約不可':'2'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
      </div>
    </div>
    <%= f.submit "Registration", class: "btn btn-outline-primary" %>
    <%= link_to "Back", :back, class: "btn btn-link" %>
  </form>
  <% end %>
  <div class="text-right pr-2">
    <small class="text-muted">*1: オンライン内見は実際にスタッフがスマホなどでお客様と通信しながら館内・部屋を映してホテルの案内をすることです。</small>
  </div>
  <div class="text-right pr-2">
    <small class="text-muted">*2: オンライン契約はビデオ通信にて、お客様に重要事項説明を行うことです。来館することなくお客様に契約していただけます。</small>
  </div>
</div>
<%= javascript_pack_tag 'form/application' %>
