<div class="container mt-5">
  <form class="form-row form-group">
    <%= search_form_for @q do |f| %>
    <div class="col-4">
      <%= f.search_field :hotel_name_or_prefecture_code_or_address_city_cont, placeholder: "ホテル検索", class: 'form-control mr-sm-2' %>
    </div>
    <div class="form-inline">
      <%= f.collection_select :prefecture_code_cont, JpPrefecture::Prefecture.all, :name, :name, {prompt: "エリア"}, {class: 'form-control'} %>
    </div>
    <div class="col">
      <%= f.submit "search", class: "btn btn-outline-success my-2 my-sm-0" %>
    </div>
    <% end %>
  </form>
  <% @hotels.each do |hotel| %>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-7">
        <%= image_tag hotel.hotel_img.to_s, {width: "100%",  height: "300"} %>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title"><%= link_to hotel.hotel_name, hotel_path(id: hotel.id) %></h5>
          <p class="card-text">Address: 〒<%= hotel.postcode %></br><%= hotel.prefecture_code %><%= hotel.address_city %><%= hotel.address_street %></p>
          <p class="card-text">Tell: <%= hotel.tell %></p>
          <p class="card-text">Email: <%= hotel.email %></p>
        </div>
        <div class="text-right pr-2">
          <small class="text-muted">Update: <%= hotel.updated_at.strftime('%Y/%m/%d') %></small>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
